volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    image: nikishefu/kittygram_backend
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/static/
      - media:/app/media/
  frontend:
    image: nikishefu/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    image: nikishefu/kittygram_gateway
    depends_on:
      - backend
      - frontend
    ports:
      - 8000:80
    volumes:
      - static:/static
      - media:/app/media/
