volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "kittygram"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      postgres: 
        condition: service_healthy
        restart: true
    volumes:
      - static:/static/
      - media:/app/media/
  frontend:
    build: ./frontend/
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  gateway:
    build: ./nginx/
    depends_on:
      - backend
      - frontend
    ports:
      - 8000:80
    volumes:
      - static:/static
      - media:/app/media/

